.easycredit--billing{
    margin-right: 0px !important;
}

.easycredit--shipping{
    margin-right: 0px !important;
}

.easycredit--payment {
    width: 100% !important;
}

.easycredit--product {
    margin: 10.5rem 0rem 0rem 0rem !important;
}

.easycredit--button {
    margin-top: 2% !important;
}







